.nav_list{
    display: flex;
    gap: 4rem;
    text-decoration: none;
}
.nav_list li{
    list-style: none;
}
.nav_item{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;

    
}

.nav_item:hover{
    color: #2196f3;
}

.cart{
    position: relative;
    font-size: 2rem;
}

/* .nav_item:visited{
    color: #0d47a1;
} */